/* // https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--very-dark-blue);
  display: grid;
  place-items: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* RESET */
/* ********************************* */

/* CSS VARIABLES */

:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desatured-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  --white: hsl(0, 0%, 100%);
  --neutral-color-1: hsla(0, 0%, 100%, 0.75);
  --neutral-color-2: hsla(0, 0%, 100%, 0.6);

  --fs-body: 0.9375rem;

  --fs-inter: "Inter", sans-serif;
  --fs-lexend-deca: "Lexend Deca", sans-serif;
}

/* ********************************* */

/* MAIN STYLES */

/* ********************************* */

.stat {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 6px;
  overflow: hidden;
  margin-inline: 2rem;
  margin-block: 4rem;
  /* width: 90%; */
}

.left--col {
  background-color: var(--dark-desatured-blue);
  padding: 2rem;
  text-align: center;
}

.right--col {
  position: relative;
  display: inline-block;
}

#img-overlay {
  background-color: var(--soft-violet);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  mix-blend-mode: multiply;
}

.stat__heading {
  color: var(--white);
  font-family: var(--fs-inter);
  margin-block-end: 1rem;
  line-height: normal;
}

.stat__heading span {
  color: var(--soft-violet);
}

.stat__description {
  color: var(--neutral-color-1);
  font-family: var(--fs-inter);
  font-size: var(--fs-body);
  margin-block-end: 2rem;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* text-align: center; */
}

.stats__list-item p {
  font-size: 1.5rem;
  color: var(--white);
  font-weight: 700;
  font-family: var(--fs-inter);
}

.stats__list-item h2 {
  text-transform: uppercase;
  color: var(--neutral-color-2);
  font-family: var(--fs-lexend-deca);
  font-weight: 400;
  letter-spacing: 2px;
  font-size: var(--fs-body);
  /* font-size: 1rem; */
}

@media screen and (min-width: 1024px) {
  .stat {
    flex-direction: row;
    margin-inline: auto;
    /* width: 65rem; */
    /* max-width: 80rem; */
    /* max-width: 60%; */
    width: 67rem;
  }

  .left--col {
    padding: 5rem;
    width: 50%;
    text-align: initial;
  }

  .stat__heading {
    font-size: 2rem;
  }

  .stat__description {
    margin-block-end: 4rem;
  }

  .stats {
    flex-direction: row;
  }

  .right--col {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    width: 50%;
  }
}